@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 기본 스타일 초기화 S */
html {
    font-size: 13px;
    background: #f8f8f8;
}

body {
    margin: 0;
    color: #000;
    width: 100%;
    max-width: 750px;
    min-width: 350px;
    background: #fff;
    margin: 0 auto;
    min-height: 700px;
}

ul, ol {
    list-style: none;
    margin: 0; 
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    border: 0;
}
/* 기본 스타일 초기화 E */

/* 공통 스타일 S */
* {
    box-sizing: border-box;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
}

h2 {
    font-size: 1.539rem;
    color: #212121;
    line-height: 1;
    margin: 20px 0;
    text-align: center;
}
/* 공통 스타일 E */

/* 헤더 영역 S */
header {
    display: flex;
    height: 66px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 15px;
    align-items: center;
}


header .left {
    width: 90px;
}

header .right {
    width: 90px;
    text-align: right;
}

header .logo {
    flex-grow: 1;
    text-align: center;
}

header .logo img {
    height: 34px;
}

header .right img {
    height: 22px;
}

header .right a:last-of-type {
    margin-left: 17px;
}

header .left button:first-of-type {
    margin-right: 22px;
}

header .left button {
    width: 25px;
    height: 20px;
    border: 0;
}

header .left .more-menu {
    background: #fff url("../images/more_btn.png") no-repeat center center;
    background-size: contain;
}

header .left .search-btn {
    background: #fff url("../images/search.png") no-repeat center center;
    background-size: contain;
}

/* 헤더 영역 E */

/* 사이트 주 메뉴 S */
nav {
    display: flex;
    height: 44px;
}

nav a {
    width: 0;
    flex-grow: 1;
    text-align: center;
    line-height: 44px;
    color: #494949;
}

/* 사이트 주 메뉴 E */

/* 메인 배너 S */
.main-banner {
    position: relative;
    overflow: hidden;
}

.main-banner .swiper-slide img {
    width: 100%;
    display: block;
}

.main-banner .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.75;
    cursor: pointer;
}

.main-banner .swiper-pagination-bullet-active {
    opacity: 1;
}

.main-banner .swiper-button-prev,
.main-banner .swiper-button-next {
    color: #fff;
}

.main-banner .swiper-pagination {
    bottom: 10px;
}

/* 메인 배너 E */

/* 서브 메뉴 S */
.sub-menus {
    border: 10px solid #ededed;
    border-bottom-width: 9px;
    border-left: 0;
    border-right: 0;
    display: flex;
    flex-wrap: wrap;
}

.sub-menus a {
    width: calc(100% / 3);
    height: 50px;
    line-height: 49px;
    text-align: center;
    font-weight: 500;
    font-size: 1.077rem;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

.sub-menus a:nth-of-type(3n + 1) {
    border-left: 0;
}

/* 서브 메뉴 E */

/* 하단 퀵 버튼 S */
.quick-buttons {
    position: fixed;
    bottom: 70px;
    right: 10px;
}

.quick-buttons img {
    display: block;
    width: 50px;
}

.quick-buttons a + a img {
    margin-top: 10px;
}

/* 하단 퀵 버튼 E */